@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");

/* CSS reset */
* {
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  -webkit-text-size-adjust: 100%;
}
